@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Lato:wght@300&family=Oswald&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

body {
    background: #6b6b6b;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 60px;
    z-index: 10000;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
}

.main-title {

    font-style: italic;
}

header.sticky {
    padding: 15px 60px;
    background-color: #d8d6d6;

}

header.sticky ul li a {
    color: #030303;
}

header.sticky .logo {
    color: #141414;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #b8b6b6;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0 15px;
    text-decoration: none;
    color: #d6d5d5;
    letter-spacing: 2px;
    font-weight: 600px;
    transition: 0.6s;
}

header ul li a:hover {
    padding: 13px;
    border-radius: 12px;
    background-color: #a6aaa6;
}

@media only screen and (max-width: 100px) {
    header .logo {
        text-align: center;
    }

    header,
    header ul {

        display: column;

    }

}

@media only screen and (max-width: 768px) {
    header.sticky {
        padding: 16px 4px;
        background-color: #d8d6d6;
    }
}

section {
    padding-bottom: 60px;
    margin-bottom: 33px;
}



.content-main {
    background: rgb(155, 156, 155);
    background-image: url(../images/yoga6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    padding-right: 94px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;

}

.content-main span {
    color: #f5f4f4;
}

.content-main .dash {
    color: #42f642;
}

.content-main h1 {
    color: #fff;
    text-shadow: -2px 0px 9px rgba(0, 0, 0, 0.6);
    width: 30%;
    font-size: 2rem;
    padding-bottom: 12px;
}

.content-main h2 {
    color: #fff;
    text-shadow: -2px 0px 9px rgba(0, 0, 0, 0.6);
    width: 30%;
    font-size: 1.5rem;
    padding-bottom: 12px;
}

#explore-link {
    display: inline;
    margin-top: 10px;
    padding-left: 13px;
}

#explore-link a {
    text-shadow: -2px 0px 9px rgba(0, 0, 0, 0.6);
    color: #e2e0e0;
    background-color: #7a7c7e;
    border-radius: 10px;
    margin-right: 34%;
    font-size: 1.5em;
    padding: 10px;
    line-height: 2.5em;
    text-decoration: none;
}

#explore-link a:hover {
    transition: 0.3s;
    color: #fff;
    padding: 13px;
    border-radius: 12px;
    background-color: #979797;
}

.humburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 22px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: black;
}

video {
    width: 100%;
}







