@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Lato:wght@300&family=Oswald&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

body {
    background: #6b6b6b;
    min-height: 200vh;
}



